<div class="jumbotron">
	<h1><i class="fa fa-circle-o-notch"></i> Taskr</h1>
	<p>Helping you increase your productivity</p>
    <!-- <a class="btn btn-primary btn-lg" href=/users/sign_up role="button">Sign up</a> -->
  	<%= link_to 'Sign up', new_user_registration_path, class:'btn btn-primary btn-lg' %>
</div>

